.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/wallpaperflare.com_wallpaper.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 274px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 752px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 60px 758px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px 365px 0 0;
}

.u-section-2 .u-blog-1 {
  margin: 61px auto 35px 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 461px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 301px;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 900;
  margin: -9px 14px 0 45px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 14px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 15px auto 0;
  padding: 0;
}

.u-section-2 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 301px;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 900;
  margin: -9px 14px 0 45px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 14px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 15px auto 0;
  padding: 0;
}

.u-section-2 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-3 {
  height: 301px;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 900;
  margin: -9px 14px 0 45px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 14px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 15px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 558px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 165px;
  }

  .u-section-2 .u-blog-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 292px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 292px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-top: 292px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 338px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 158px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}